.board {
  max-width: 300px;
  max-height: 95%;
  background-color: #121212;
  position: absolute;
  z-index: 99;
  top: 5%;
  right: 80px;
  border-radius: 24px;
  overflow-y: auto;
}

.board::-webkit-scrollbar {
  display: none;
}

.header {
  margin-top: 15px;
  padding: 5px 16px;

  h4 {
    color: #fff;
    font-weight: 800;
  }
}

.container {
  .disabled {
    display: none;
  }

  .scene {
    padding: 5px 14px;
    img {
      cursor: pointer;
      border-radius: 16px;
      object-fit: cover;
      width: 100%;
      height: 170px;
    }
  }
  .premium {
    opacity: 0.5;
  }
}
