.wrapper {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 20;
  position: absolute;
  top: 20%;
  left: 26%;
  border: solid 2px #fff;
  border-radius: 20px;
  transition: width 0.5s, background-color 0.5s;
  color: white;

  &:hover {
    width: 80px;
    background-color: rgba(18, 18, 18, 0.8);
    border: none;
  }

  .bird {
    width: 20px;
    height: 20px;
  }
}

.isCafe {
  top: 25%;
  left: 88%;
}

.isKyoto {
  top: 13%;
  left: 15%;
}

.isNewYork {
  top: 20%;
  left: 2%;
}
