.wrapper {
  width: 47px;
  height: 225px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(18, 18, 18, 1);
  position: absolute;
  top: 30%;
  right: 35px;
  border-radius: 12px;
  padding: 15px 0;
  z-index: 10;
  transition: all 0.3s;
}

.wrapper-icon {
  color: #403d39;
  .icon {
    padding: 14px 0;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .active {
    color: #f3a952;
  }

  .off {
    display: none;
  }
}

.open {
  border-top-left-radius: 0;
}

.more {
  height: 360px;
  top: 20%;
}

.top {
  border-top: solid 0.3px #403d39;
}

.wrapper-menu-icon {
  color: #403d39;

  .icon {
    padding: 14px 0;
    font-size: 1rem;
    cursor: pointer;
  }

  .git {
    padding: 10px;
    transform: scale(0.8);
    cursor: pointer;

    a {
      color: #403d39;
    }
  }

  .active {
    color: #f3a952;
  }

  .off {
    display: none;
  }
}

.closeTool {
  display: none;
}

.openTool {
  display: unset;
  display: flex;
  align-items: center;
  flex-direction: column;
}
